.home {
  background-color: var(--primary-color);
  width: 100%;
  min-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 
              0 6px 20px 0 rgba(0, 0, 0, 0.1);;
  text-align: center;
  display: inline-block;
  min-width: fit-content;
  position: relative;
}

.home h1 {
  color: #3a86ff;
  margin-bottom: 1rem;
}

.logo {
  width: 500px;
  height: auto;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.container {
  display: flex;
  margin-top: 2rem;
  height: 70vh;
  gap: 20px;
  min-width: 1200px;
}

.map-container {
  height: 500px;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.form-container {
  padding: 10px 20px;
  background: var(--primary-color);
  border-radius: 8px;
  height: 500px;
  min-width: 280px;
  border: 1px solid #ddd;
  
  overflow-y: auto;
  overflow-x: hidden;
  
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.form-container::-webkit-scrollbar {
  width: 8px;
}

.form-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.form-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.form-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container {
  display: flex;
  gap: 20px;
  height: 500px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

.form-group {
  margin-top: 8px;
  margin-bottom: 15px;
}

.form-group-description {
  width: 100%;
  height: 7vh;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

select, input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  margin-top: 20px;
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.submit-button:hover {
  background-color: #45a049;
}



.search-bar {
  margin: 20px 0;
  width: 100%;
}

.search-bar form {
  display: flex;
  gap: 10px;
}

.search-bar input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.search-bar button {
  padding: 12px 20px;
  background-color: #3a86ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.search-bar button:hover {
  background-color: #2667d6;
}

.search-form {
  width: 600px;
  display: flex;
}

@media (max-width: 768px) {
  .search-bar form {
    flex-direction: column;
  }
}

.search-container {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.filtros {
  display: flex;
  gap: 10px;
}

.filtros select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 14px;
  flex: 1;
  min-width: 300px;
  margin-right: 10px;
}

.leaflet-popup-content {
  font-size: 14px;
  min-width: 150px;
}